<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" layout:fragment="nav">
            <div class="container">
                <img src="/images/icons/neonRogo.png" th:src="@{/images/icons/neonRogo.png}" class="brand"><!-ロゴ画挿入->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <img src="/images/icons/sukiRogo.png" th:src="@{/images/icons/sukiRogo.png}"><!-いいね挿入->
                        </li>
                        <li class="nav-item">
                            <img src="/images/icons/touRogo.png" th:src="@{/images/icons/touRogo.png}"><!-投稿挿入->
                        </li>
                        <li class="nav-item">
                            <img src="/images/icons/syuRogo.png" th:src="@{/images/icons/syuRogo.png}"><!-ログアウト挿入->
                        </li>
                        <li class="nav-item">
                            <img src="/images/icons/register.png" th:src="@{/images/icons/register.png}">
                        </li>
                        <li class="nav-item">
                            <img src="/images/icons/tuneRogo.png" th:src="@{/images/icons/tuneRogo.png}"><!-ログイン挿入->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
            <ul>
                <li th:each="error : ${#fields.detailedErrors()}" class="error-message" th:text="${error.message}" />
            </ul>
        </div>
    </body>
    
</html>